.messagebox{
    transition: all .5s ease;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 5%;
    padding: 5px 20px;
    border-radius: 10px;
    transform: translateX(-50%) translateY(-400%);
    
    .content{
        text-align: center;
        height: 32px;
        width: max-content;
        line-height: 32px;
    }
    &.easein{
        transform: translateX(-50%);
    }
}